<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YinSiDianHu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188FD7311EE99BF7003CA418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188FD74A1EE99BF7003CA418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188FD7551EE99BF8003CA418</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
